*{
  font-family: 'Roboto', sans-serif;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.th {
  padding: 0;
  font-weight: bold;
}

.actionsTh {
  width: 80px;
  text-align: center;
}

.actionsTd {
  width: 80px;
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .table-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    min-width: 600px;
  }
}
