.th {
    padding: 0;
  }
  
.control {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.icon {
  width: 21px;
  height: 21px;
  border-radius: 21px;
}

.Add{
  display: flex;
  height: 32px;
  padding: 0px var(--Padding-padding-sm, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Spacing-spacing-sm, 8px);
  border-radius: var(--Radius-radius-sm, 4px);
  background: var(--Background-Primary-light, rgba(34, 139, 230, 0.10));
  color: #228BE6
}