*{
  font-family: 'Roboto', sans-serif;
}

.code{
  justify-items: end;
}

.burguer {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  margin-top: calc(var(--mantine-spacing-md) * -1);
  padding-top: 2vh;
  padding-left: 4vh;
}

.links {
  flex: 1;
  margin-top: 5vh;
}

.user {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  margin-bottom: calc(var(--mantine-spacing-md) * -1);
}