*{
  font-family: 'Roboto', sans-serif;
}

.root {
  padding-top: 80px;
}
  
.label {
  text-align: center;
  font-weight: 900;
  font-size: 90px;
  line-height: 1;
  margin-bottom: calc(1.5 * var(--mantine-spacing-xl));
  color: var(--mantine-color-gray-2);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    .label {
      font-size: 60px;
    }
  }
}
  
.description {
  margin: 10vh;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: calc(2 * var(--mantine-spacing-xl));

  @media (max-width:var(--mantine-breakpoint-sm)){
    .title{
      font-size: 50px;
    }
  }
}